
/* BASE */
body {
    /*background-color: #ccc;*/
}

.container.body-content {
    margin-top: 85px;
}

.white-color * {
    color: #fff;
}

.navbar {
    text-transform:uppercase;
    font-family: Arial;
    background-color: #333;
}

.title {
    text-transform: uppercase;
}

.colours {
    position: absolute;
    right: 20px;
    z-index: 20;
}

.colours > div {
    display: inline-block;
}

.colours .img-circle {
    width: 40px;
    height: 40px;
    margin: 5px;
    border: 2px solid #fff;
}

.img-preview {
    height: 50px;
}

.colour-dd button, .colour-dd a {
    height: 40px;
    margin: 10px 0px;
}

.colour-dd img {
    height: 100%;
}
/* END BASE */

/* HOME PAGE */
.home .navbar {
    background-color: transparent;
}

.banner {
    /*background-image: url('img/LRG-X-JanSport-Lookbook-Shot-by-Street-Dreams-Magazine-3.jpg');*/
    height: 100vh;
    width: 100vw;
    position:absolute;
    z-index: 0;
    top: 0px;
    right: 0px;
}

#lookbook-carousel {
    max-height: 100%;
    overflow: hidden;
}

#lookbook-carousel .carousel-control {
    color: #ccc;
}

.banner-info {
    position: absolute;
}

@media only screen and (max-device-width: 768px) {
    .banner-info {
        display: none;
    }
}

.btn-buy {
    background-color: transparent;
    border-radius: 50px;
    padding: 18px 22px;
    border: 2px solid #fff;
    text-transform: uppercase;
}

.btn-buy:hover {
    background-color: #fff;
}
/* END HOME PAGE */