
/* BASE */
body {
    background-color: #ccc;
}

.white-color * {
    color: #fff;
}

.navbar {
    text-transform:uppercase;
    font-family: Arial;
}
/* END BASE */

/* HOME PAGE */
.banner {
    /*background-image: url('img/LRG-X-JanSport-Lookbook-Shot-by-Street-Dreams-Magazine-3.jpg');*/
    height: 100vh;
    width: 100vw;
    position:absolute;
    z-index: 0;
    top: 0px;
    right: 0px;
}

#lookbook-carousel {
    max-height: 100%;
    overflow: hidden;
}

#lookbook-carousel .carousel-control {
    color: #ccc;
}

.banner-info {
    position: absolute;
}

@media only screen and (max-device-width: 768px) {
    .banner-info {
        display: none;
    }
}

.btn-buy {
    background-color: transparent;
    border-radius: 50px;
    padding: 18px 22px;
    border: 2px solid #fff;
    text-transform: uppercase;
}

.btn-buy:hover {
    background-color: #fff;
}
/* END HOME PAGE */