
/* BASE */
.white-color * {
    color: #fff;
}

.navbar {
    text-transform:uppercase;
    font-family: Arial;
}
/* END BASE */

/* HOME PAGE */
.banner {
    background-image: url('img/LRG-X-JanSport-Lookbook-Shot-by-Street-Dreams-Magazine-3.jpg');
    height: 80%;
    width: 100%;
    position:absolute;
    z-index: 0;
    top: 0px;
    right: 0px;
}

.banner-info {
    height: 80%;
    padding-top: 20%;
}

.btn-buy {
    background-color: transparent;
    border-radius: 50px;
    padding: 18px 22px;
    border: 2px solid #fff;
    text-transform: uppercase;
}

.btn-buy:hover {
    background-color: #fff;
}
/* END HOME PAGE */