@using Newtonsoft.Json

@model BagShop.Models.OrderViewModel
@{
    ViewBag.Title = "Подтверждение заказа";
}

<script type="text/javascript" src="~/app/baseController.js"></script>
<script type="text/javascript" src="~/app/shopping/controllers/orderController.js"></script>

<div ng-app="app" ng-controller="orderController" ng-init="init(@JsonConvert.SerializeObject(Model))">
    <div class="spinner text-center" ng-show="loading">
        <span class="glyphicon glyphicon-refresh spin"></span>
    </div>
    <div class="row">
        <h2 class="text-center">Подтверждение заказа</h2>
    </div>
    <div class="row" ng-cloak>
        <div class="col-lg-2"></div>
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8">
            <form name="orderSubmission" ng-submit="submit()" class="form-horizontal ng-valid ng-valid-pattern ng-dirty ng-valid-number">
                <div class="row">
                    <div class="bucket-preview col-xs-3">
                        <img class="img-preview img-thumbnail" src="{{ Product.TitleImage }}">
                    </div>

                    <div class="bucket-title col-xs-9">
                        <h3 class="ng-binding">{{ Product.Title }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="bucket-colors form-group col-xs-6 col-sm-6">
                        <div class="row">
                            <label class="control-label col-xs-8 col-sm-4" for="inputAmount">Цвет:</label>
                            <div class="dropdown colour-dd col-xs-4 col-sm-6">
                                <button class="btn btn-default dropdown-toggle ng-binding" type="button" id="colour-drop-down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img class="img-circle" src="{{ selectedColour.PreviewImage }}">
                                    {{ selectedColour.Name }}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="colour-drop-down">
                                    <li ng-repeat="Colour in Product.Colours" class="ng-scope">
                                        <a href="#" ng-click="selectColour(Colour)" class="ng-binding">
                                            <img src="{{ Colour.PreviewImage }}">
                                            {{ Colour.Name }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="bucket-amount form-group col-xs-6 col-sm-6">
                        <label class="control-label" for="inputAmount">Количество:</label>
                        <div class="input-group">
                            <input type="number" max="100" min="1" value="1" required id="inputAmount" class="form-control ng-valid ng-not-empty ng-dirty ng-valid-number ng-touched" name="Quantity" ng-model="Quantity">
                            <div class="input-group-addon">шт</div>
                        </div>
                    </div>
                </div>
                <div class="row form-group bucket-form-cell">
                    <label for="inputCell" class="col-xs-4 col-sm-2 control-label">Телефон:</label>
                    <div class="input-group col-xs-8">
                        <div class="input-group-addon">+380</div>
                        <input type="tel" placeholder="&middot;&middot;&middot;&middot;&middot;&middot;&middot;&middot;&middot;" id="inputCell" required name="PhoneNumber" ng-model="PhoneNumber" pattern="^[0-9]{9,9}$" class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-pattern" maxlength="9" />
                    </div>
                </div>
                <div class="row form-group bucket-form-FirstName">
                    <label for="inputFirstName" class="col-xs-4 col-sm-2 control-label">Имя:</label>
                    <div class="col-xs-8 col-sm-10">
                        <input type="text" id="inputFirstName" name="FirstName" ng-model="FirstName" pattern="^[-a-zA-Z\u0400-\u04ff\s]+$" class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-pattern" required maxlength="50" />
                    </div>
                </div>
                <div class="row form-group bucket-form-LastName">
                    <label for="inputLastName" class="col-xs-4 col-sm-2 control-label">Фамилия:</label>
                    <div class="col-xs-8 col-sm-10">
                        <input type="text" id="inputLastName" name="LastName" ng-model="LastName" pattern="^[-a-zA-Z\u0400-\u04ff\s]+$" class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-pattern" required maxlength="50" />
                    </div>
                </div>
                <div class="row form-group bucket-form-Address">
                    <label for="inputAddress" class="col-xs-4 col-sm-2 control-label">Адрес:</label>
                    <div class="col-xs-8 col-sm-10">
                        <input type="text" id="inputAddress" name="Address" ng-model="Address" min="5" max="256" class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-pattern" required />
                    </div>
                </div>
                <input type="submit" class="btn btn-default center-block" value="Подтвердить" ng-disabled="orderSubmission.$invalid">
                <div class="row">
                    <ul>
                        <li class="text-danger" ng-show="orderSubmission.Quantity.$invalid && orderSubmission.Quantity.$touched">Введите количество.</li>
                        <li class="text-danger" ng-show="orderSubmission.PhoneNumber.$invalid && orderSubmission.PhoneNumber.$touched">Введите правильный номер телефона.</li>
                        <li class="text-danger" ng-show="orderSubmission.FirstName.$invalid && orderSubmission.FirstName.$touched">Введите корректное имя.</li>
                        <li class="text-danger" ng-show="orderSubmission.LastName.$invalid && orderSubmission.LastName.$touched">Введите корректную фамилию.</li>
                        <li class="text-danger" ng-show="orderSubmission.Address.$invalid && orderSubmission.Address.$touched">Введите адрес.</li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
<div id="confirmation-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Заказ отправлен</h4>
            </div>
            <div class="modal-body">
                <p>Ваш заказ успешно отправлен! Скоро мы перезвоним вам для подтверждения и уточнения деталей.</p>
            </div>
            <div class="modal-footer">
                <a href="../Home" class="btn btn-primary">OK</a>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
</script>

