@using Newtonsoft.Json

@model BagShop.Models.OrderViewModel
@{
    ViewBag.Title = "Подтверждение заказа";
}

<div ng-app="app" ng-controller="orderController" ng-init="init(@JsonConvert.SerializeObject(Model))">
    <div class="row">
        <div class="col-offset-4"></div>
        <div class="col-lg-4">
            <div class="col-lg-12">
                    <form name="orderSubmission" ng-submit="submit()">
                        <img src="{{ Product.TitleImage }}" />
                        <h4>{{ Product.Title }}</h4>
                        <input type="number" ng-model="Quantity" /> шт.
                        <label>+380</label>
                        <input type="text" ng-model="PhoneNumber" pattern="^[0-9]{9,9}$" />
                        <input type="text" ng-model="FirstName" />
                        <input type="text" ng-model="LastName" />
                        <input type="text" ng-model="Address" />
                        <input type="submit" value="Подтвердить" ng-disabled="orderSubmission.$invalid">
                    </form>
            </div>
        </div>
        <div class="col-offset-4"></div>
    </div>
</div>

