
@{
    ViewBag.Title = "Особенности доставки и оплаты";
}

<div class="col-lg-12">
    <h2>Как мы работаем</h2>
    <p>После того, как вы оформили заказ у нас на сайте, с вами свяжется наш сотрудник для подтверждения информации. После подтверждения мы отправляем заказ на изготовление и он будет готов к отправке через 2-3 дня.</p>
    <p>
        Для оплаты заказа вы можете выбрать один из вариантов:
        <ul>
            <li><strong>предоплата на карту ПриватБанка</strong> - в этом случае доставка Новой Почтой <strong>бесплатная</strong>;</li>
            <li><strong>наложенный платеж</strong> - услуги по транспортировке и оплате перевода оплачиваете вы.</li>
        </ul>
    </p>
    <p>Доставку мы осуществляем только Новой Почтой.</p>
    <p>Мы будем рады ответить на все интересующие вас вопросы по телефону: +380634258431 </p>
</div>

