@{
    ViewBag.Title = "Hedera Shop";
}

<div class="banner">

</div>

<div class="row banner-info white-color">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 text-center">
        <h4>We have the best bags</h4>
        <a href="#" class="btn btn-lg btn-buy">Купить</a>
    </div>
    <div class="col-lg-4"></div>
</div>